html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(236, 214, 184);
}
.container {
    width: 95%;
 
    background-color: white;
    margin:1em 1em 1em 1em;
    border-radius: 1em;
    padding: .25em 2em .25em 2em;
}

.box {
    width: 25%;
    height: 25%;
    
}

.box img{
    float:right;
    width: 35em;
    height:50em;
    margin: 0 9em 0 1em;
}

#top-space{
    margin-top: 5%;
    
}

#move-right{
    
   margin-left: auto;
    margin-right: 2em;
}

.divider {
    width: 50%;
     justify-content: center; 
    background-color: rgb(188, 207, 193);
    height: auto;
    padding: 0 1em 0 1em;
    border-radius: 1em;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color:rgb(188, 207, 193);
    
}
a:hover{
    color: black;
    transition: 400ms;
   
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 110%;
}

.flex-box {
    max-width: 25%;
    margin: 1em;
    padding: 1em;
    
    display: flex;
}
.flex-box img{
    float:right;
    width: 15em;
    height:15em;
    margin: 0 10em 0 6em;
    
}

.flex-box:hover {
    background-color: rgba(128, 128, 128, 0.308);
   border-radius: 10em;
   transition: 500ms;
}

#shift-right {
    margin-left: 2%;
}


.link-box {
    width: 3em;
    height: 3em;
    border-radius: 1em;
    display: flex;
    float: left;
    margin: 2em;
}

.link-box-image {
    object-fit: fill;
    display: flex;
}

h5 {
    margin-top: 5em;
}