html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(236, 214, 184);
}
.container {
    width: 95%;
   
    background-color: white;
    margin:1em 1em 1em 1em;
    border-radius: 1em;
    padding: .25em 2em .25em 2em;
}

.box {
    width: 40%;
    height: 25%;
    /* float: left; */
}

.box img{
    float:right;
    width: 400px;
    height:550px;
    margin: 0 9em 0 1em;
}

#top-space{
    margin-top: 8%;
    
}

#move-left{
    
    margin-left:auto;
    margin-right: 2em;
}

.divider {
    width: 100%;
     justify-content: center; 
    background-color: rgb(188, 207, 193);
    height: auto;
    padding: 0 1em 0 1em;
    border-radius: 1em;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color:rgb(188, 207, 193);
}
a:hover{
    color: black;
    transition: 400ms;
}
h2 h3 h4 h5 h6 {
    margin: 5000px;
}
